<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<p><p:link value="&#171; Back To Account" outcome="account"></p:link></p>

		<h:form>
			<p:panel header="Password Change">
				<h:panelGrid columns="1">
					<p:outputLabel for="currentPassword" value="Current Password"></p:outputLabel>
					<p:password id="currentPassword" value="#{passwordChangeController.currentPassword}" required="true"></p:password>

					<p:outputLabel for="newPassword" value="New Password"></p:outputLabel>
					<p:password id="newPassword" value="#{passwordChangeController.password.password}" required="true" match="confirmPassword"></p:password>

					<p:outputLabel for="confirmPassword" value="Confirm New Password"></p:outputLabel>
					<p:password id="confirmPassword" value="#{passwordChangeController.password.confirmPassword}" required="true"></p:password>
				</h:panelGrid>
			</p:panel>

			<p:commandButton value="Change Password" action="#{passwordChangeController.changePassword}" ajax="no"></p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
