<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/default.xhtml">

	<ui:define name="content">
		<h:form id="zoneForm">
			<p:dataTable id="zoneTable"
				var="domain"
				value="#{zonesController.lazyModel}"
				rowKey="#{domain.id}"
				lazy="true"
				resizableColumns="true"
				paginator="true"
				rows="30"
				selection="#{zonesController.selectedZones}"
				rowSelectMode="checkbox"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
				paginatorPosition="bottom"
				paginatorAlwaysVisible="false">

				<f:facet name="header">Zones</f:facet>

				<p:column selectionMode="multiple" style="width:5%;text-align:center;"></p:column>

				<p:column sortBy="#{domain.name}" filterBy="#{domain.name}" filterMatchMode="contains" headerText="Name" style="width:47%;">
					<p:link value="#{domain.name}" outcome="records">
						<f:param name="zoneName" value="#{domain.name}"></f:param>
					</p:link>
				</p:column>

				<p:column sortBy="#{domain.type}" headerText="Type" style="width:8%;">
					<h:outputText value="#{domain.type}"/>
				</p:column>

				<p:column sortBy="#{domain.dateCreated}" headerText="Date Created" style="width:20%;">
					<h:outputText value="#{domain.dateCreated}">
						<f:convertDateTime type="both" timeZone="#{userPreferences.timeZone}" locale="#{userPreferences.locale}"/>
					</h:outputText>
				</p:column>

				<p:column headerText="Date Modified" sortBy="#{domain.dateModified}" style="width:20%;">
					<h:outputText value="#{domain.dateModified}" >
						<f:convertDateTime type="both"  timeZone="#{userPreferences.timeZone}" locale="#{userPreferences.locale}"/>
					</h:outputText>
				</p:column>

				<f:facet name="footer">
					<p:commandButton process="zoneTable"
						update=":zoneForm:zonesToDelete"
						icon="ui-icon-close"
						value="Delete Selected"
						oncomplete="PF('zoneDialogue').show();">
					</p:commandButton>
				</f:facet>
			</p:dataTable>

			<p:dialog header="Confirm Delete" modal="true" widgetVar="zoneDialogue">
				<p:outputPanel id="zonesToDelete">
					<p:scrollPanel mode="native" style="height:200px;">
						<ui:repeat value="#{zonesController.selectedZones}" var="zone">
							<h:outputText value="#{zone.name}" style="display:block;"/>
						</ui:repeat>
					</p:scrollPanel>

					<p:commandButton  value="Confirm Delete" action="#{zonesController.deleteSelected()}" icon="ui-icon-close" oncomplete="PF('zoneDialogue').hide();" update=":zoneForm:zoneTable"></p:commandButton>
				</p:outputPanel>
			</p:dialog>
		</h:form>

		<p:separator></p:separator>

		<h:form>
			<p:panel header="Create Zone">
				<h:panelGrid columns="1">
					<p:outputLabel for="zone">Zone</p:outputLabel>
					<p:inputText id="zone" value="#{newDomain.name}" required="true" requiredMessage="Zone name is required"></p:inputText>

					<p:outputLabel for="zoneType">Zone Type</p:outputLabel>
					<p:selectOneListbox id="zoneType" value="#{newDomain.type}">
						<f:selectItem itemLabel="Native" itemValue="NATIVE"/>
						<f:selectItem itemLabel="Master" itemValue="MASTER"/>
					</p:selectOneListbox>

					<p:spacer/>

					<p:commandButton value="Create" action="#{zonesController.createZone()}" ajax="no"/>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
