<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<title>Login Form</title>
	</h:head>

	<h:body>
		<h:body>
			<p:panel header="Login Error">
				Sorry, you made an Error. Please try again: <a href="#{facesContext.externalContext.requestContextPath}/">Login</a>
			</p:panel>
		</h:body>
	</h:body>
</html>
